<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('. /partials/head'); %>
</head>

<body>
    <%-include('. /partials/sidebar); %>
        <main class="book">
            <%-include('. /partials/header'); %>
                <section class="pagecontent">
                    Welcome <%= user.details.firstname %>
                        <%= user.details.lastname %>
                </section>
        </main>
        <%-include('. /partials/footer'); %>
</body>

</html>